<p id="notice"><%= notice %></p>

<p>
  <strong>Objeto:</strong>
  <%= @action_object.objeto %>
</p>

<%= link_to 'Edit', edit_action_object_path(@action_object) %> |
<%= link_to 'Back', action_objects_path %>
