<h3> Criar Ficha </h3>
<div class="navbar navbar-fixed-bottom container">
	<button id="saveButton" class="btn btn-primary glyphicon glyphicon-floppy-disk"> Salvar</button>
	<%= link_to ' Voltar', procurements_path, class: 'btn btn-default glyphicon glyphicon-arrow-left' %>
</div>
<%= render 'form' %>