<p id="notice"><%= notice %></p>

<p>
  <strong>Profissao:</strong>
  <%= @profession.profissao %>
</p>

<%= link_to 'Edit', edit_profession_path(@profession) %> |
<%= link_to 'Back', professions_path %>
